@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Kumbh+Sans:wght@400;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
    font-size: 18px;
}

body {
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-bottom.svg);
    background-position: bottom left;
    background-repeat: repeat-y;
}

.container {
    display: grid;
    width: 400px;
    height: 400px;
    transform: translate(5%, 35%);
    margin: auto;
    background-color: white;
    border-radius: 12px;
}

#foto {
    position: fixed;
    transform: translate(150%, 100%);
    border: 5px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
}

#topo {
    background-image: url(images/bg-pattern-card.svg);
    border-radius: 12px 12px 0 0;
    height: 150px;
    width: 400px;
}

.item {
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.075);
    transform: translate(0%, 15%);
    line-height: 30px;
    height: 80px;
}

.rodape {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: auto;
    gap: 50px;
    line-height: 25px;
    transform: translate(0%, -50%);
    height: 30px;
}

strong {
    font-weight: 700;
}

@media (max-width: 600px) {
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Kumbh Sans';
        font-size: 13px;
    }

    body {
        background-color: hsl(185, 75%, 39%);
        background-image: url(images/bg-pattern-bottom.svg);
        background-position: bottom left;
        background-repeat: repeat;
        margin: auto;
        text-align: center;
        align-items: center;
        align-content: center;
        width: 375px;
    }
    
    .container {
        display: grid;
        width: 225px;
        height: 300px;
        margin: auto;
        background-color: white;
        border-radius: 12px;
    }
    
    #foto {
        position: fixed;
        transform: translate(75%, 50%);
        border: 5px solid white;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        margin: auto;
        text-align: center;
    }
    
    #topo {
        background-image: url(images/bg-pattern-card.svg);
        border-radius: 6px 6px 0 0;
        height: 100px;
        width: 225px;
    }
    
    .item {
        text-align: center;
        border-bottom: 2px solid rgba(0, 0, 0, 0.075);
        transform: translate(0%, 15%);
        line-height: 2em;
        height: 90px;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    
    .rodape {
        padding-top: 21px;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        margin: auto;
        gap: 35px;
        line-height: 1.5em;
    }

    span{
        font-size: 10px;
    }
}